<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicco.androidespressocodes">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidEspressoCodes">
        <activity android:name=".bundleintent.GetBundleActivity" />
        <activity android:name=".image.ImageViewerActivity" />
        <activity android:name=".list.ListActivity" />
        <activity android:name=".dialer.ContactsActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.AnotherActivity" />
        <activity android:name=".toast.ToastActivity" />
        <activity android:name=".dialer.DialerActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".sharepref.SharePreferencesActivity" />
        <activity android:name=".bundleintent.BundleIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>